# Rails
.bundle
db/*.sqlite3
log/*.log
log/*.pid
tmp/**/*
config/database.yml
capybara-*.html

# Generated
doc
coverage
autotest_result.html
public/stylesheets/*.css

# Uploaded resources
public/system
