// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
}

form {
  @include blueprint-form;
}

header, footer, nav, section, aside, article {
  display: block;
}

.container {
  @include container;
  // @include showgrid;
}
header, footer, nav {
  @include column($blueprint-grid-columns);
}
nav ul {
  @include horizontal-list;
}
section#content {
  @include prepend(1);
  @include column($content-columns, true);
  @include append(1);
  
  .panel {
    $panel-count: 2;
    @include column($content-columns / $panel-count);
    &.last {
      @include last;
    }

    ul {
      @include no-bullet;
      padding: 0;
      margin: 0;

      li {
        line-height: 2em;
        border-bottom: 1px solid #999;
        padding: 0;
        width: 430px;
        clear: both;

        span {
          padding: 0 5px;
          display: block;
          float: left;
          height: 2em;
          
          &.project {
            width: 75px;
            border-right: 1px solid #999;
          }
          
          &.story-type {
            width: 18px;
          }
          
          &.name {
            width: 260px;
          }
          
          &.estimation {
            width: 12px;
          }
        }
      }

    }

    @include border-top-radius(10px);
    @include linear-gradient(color-stops(#d0d0d0, #b5bdc1));
    @include box-shadow(#a0a0a0, 2px, 2px, 2px);

    h2 {
      background: #e0e0e0;
      font-size: 10pt;
      line-height: 2em;
      padding: 0 10px;
      margin: 0;
      border-bottom: 1px solid #999;
      
      @include border-top-radius(10px);
    }
  }
}
header {
  position: relative;
  #user-panel {
    position: absolute;
    top: 1em;
    right: 1em;
    text-align: right;
  }
}

// Some basic design for a quick start
@import "partials/design";
