%li
  %span.project.gitpit= project_name_for :story => story
  %span.story-type
    %img{ :src => "http://www.pivotaltracker.com/images/v3/icons/stories_view/bug_icon.png", :alt => story.story_type }
  %span.estimation= story.estimate || 0
  %span.name
    %a{ :href => story.url, :target => "_blank", :title => "View story #12345" }= truncate(story.name, 40)
