- content_for :breadcrumb do
  »
  = link_to "Integration Overview", iteration_plan_path( params[:account_name] )

- content_for :overall_velocity do
  %li.caption= "Overall velocity: #{@overall_velocity}"

%section#current-iteration-panel.panel
  %h2 Current
  %ul
    =render :partial => "story", :collection => @current_stories, :as => :story
%section#backlog-panel.last.panel
  %h2 Backlog
  %ul
    =render :partial => "story", :collection => @backlog_stories, :as => :story
