%p.velocity= "Overall velocity: #{@overall_velocity}"

%section#current-iteration-panel.panel
  %h2 Current
  %ul
    - @current_stories.each do |story|
      %li= story.name
%section#backlog-panel.last.panel
  %h2 Backlog
  %ul
    - @backlog_stories.each do |story|
      %li= story.name
