%p.velocity= "Overall velocity: #{@overall_velocity}"

#current-iteration-panel
  %ul
    - @current_stories.each do |story|
      %li= story.name
#backlog-panel
  %ul
    - @backlog_stories.each do |story|
      %li= story.name
