%p.velocity= "Overall velocity: #{@overall_velocity}"

%section#current-iteration-panel.panel
  %h2 Current
  %ul
    =render :partial => "story", :collection => @current_stories, :as => :story
%section#backlog-panel.last.panel
  %h2 Backlog
  %ul
    =render :partial => "story", :collection => @backlog_stories, :as => :story
